// Primary Colors
// intro and email sign up background
$dark_blue_1: hsl(217, 28%, 15%);
// main background
$dark_blue_2: hsl(218, 28%, 13%);
// footer background
$dark_blue_3: hsl(216, 53%, 9%);
// testimonials background
$dark_blue_4: hsl(219, 30%, 18%);

// Accent
// inside call-to-action gradient
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
// error
$light_red: hsl(0, 100%, 63%);

// Neutral
$white: hsl(0, 0%, 100%);

// Font Family

// Headings, Call-to-actions, Header Navigation
$raleway: "Raleway", sans-serif;

$open_sans: "Open Sans", sans-serif;

// Transition
$transition: .3s ease-in-out;